<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:icon="@drawable/logo_mds" android:roundIcon="@drawable/logo_mds" android:theme="@style/Theme.AmalanBaiat" android:label="AMALAN BAIAT" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
